@model MovieRentalMVCApplication.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Movie</h2>
@using (Html.BeginForm("Save", "Movie"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.MovieName)
        @Html.TextBoxFor(m => m.Movie.MovieName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Stock)
        @Html.TextBoxFor(m => m.Movie.Stock, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.IsSubscribedToNewsLetter)
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter, new { @class = "form-control" })
        </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Genre)
        @Html.DropDownListFor(m => m.Movie.GenreId,
                       new SelectList(Model.Genre, "Id", "GenreName"),"Select Genre Type",
                       new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Movie.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}